[2019-03-30 22:58] skobkin commented on #191
We can use CodeShip (or other free-for-opensource CI) to make automatic build and upload them to Github.

[2019-03-30 23:08] skobkin commented on #173
What's the problem with browser cache?

I don't think magneticow is intended for public use. But if you're planing to use it publicly you can use Nginx/Varnish to cache static files between requests if you can't rely on client's browser cache or have too many clients.

[2019-03-30 23:11] skobkin commented on #149
Isn't restarting the tool is NOT the responsibility of that tool?

Wouldn't it be better to use systemd/docker(restart=always) or just Bash `while` to restart magneticod?

[2019-04-10 11:01] skobkin opened #195 "magneticod-go can't migrate magneticod-python's database"
When I'm trying to use `magneticod` (Golang version) with database from Python version I'm getting following error every time:

[code]

It works all right if there is no database from previous version.

[2019-05-12 13:36] jbruchon opened #196 "Timeline on BEP 51 (infohash indexing) implementation?"
I have noticed that `magneticod` is extremely slow to collect torrent information. Is there a timeline for completing BEP 51 implementation? All development seems to have ground to a halt shortly after the "start working on BEP 51" commit.

[2019-05-12 13:45] jbruchon opened #197 "[enhancement] Tool to import torrent data from external sources"
It would be helpful to have a tool that could add/update torrent data to the database from external sources such as a list of magnet links, infohashes, .torrent files, or a copy of someone else's magnetico DB. This would allow external tools that can assemble such resources (e.g. a web crawler, a DB dump from a torrent hosting site, or a pile of .torrent files a user has collected) to be used to c

[2019-05-13 00:20] slayer991 commented on #162
Bumping.  I can see a real use for this with things like Jackett (which in-turn is used by things like Sonarr, Radarr, etc).  Without the ability for a 3rd party to call the API for searches...as cool this program is, the use-case for many will be limited.  Thank you.

[2019-05-19 00:21] boramalper commented on #185
Done! =)

See [boramalper/magneticod](https://cloud.docker.com/repository/docker/boramalper/magneticod) and [boramalper/magneticow](https://cloud.docker.com/repository/docker/boramalper/magneticow).

[2019-05-19 00:21] #185 closed

[2019-05-19 00:24] boramalper commented on #196
The development has never been halted yet I am quite busy with university so I don't have time to work on magnetico (or any other "big" projects). Though now that I am done with exams, I am planning to get back to it!

Indeed, I have just released v0.8.0 which features BEP 51 Infohash Indexing. The performance seemed quite satisfactory to me (~8000 per *hour*), but do share your opinions too! =)

[2019-05-19 00:24] #196 closed

[2019-05-19 00:35] boramalper commented on #53
We no longer use Python so closing the issue. =)

[2019-05-19 00:35] #53 closed

[2019-05-19 02:48] jbruchon commented on #196
Thanks so much for this! I brought up this program on r/DataHoarder and several people were interested in it, so this is wonderful to see! I couldn't compile this under the latest gccgo (I don't have the `dep` tool) but the binary release is plenty good for me.

[2019-05-19 07:57] boramalper commented on #196
Again, with v0.8.0, I moved from `dep` to Go modules so you might want to try again. Of course static binaries and (even better) Docker images are available too.

[2019-05-19 09:33] boramalper commented on #98
Closing as we no longer use Python (but switched to Go). Let me know if you encounter any other issues with more recent versions. =)

[2019-05-19 09:33] #98 closed

[2019-05-19 09:33] boramalper commented on #92
Closing as we no longer use Python (but switched to Go). Let me know if you encounter any other issues with more recent versions. =)

[2019-05-19 09:33] #92 closed

[2019-05-19 09:35] boramalper commented on #23
This is supported in the new written-in-Go versions. You can simply pass multiple `--indexer-addr` to spawn multiple indexers. =)

Let me know if you have any other/similar questions with the recent version of **magnetico**.

[2019-05-19 09:35] #23 closed

[2019-05-19 09:40] boramalper commented on #145
The situation shall be better now that I've implemented BEP 51: DHT Infohash Indexing. But if you still encounter the same issue, there are a few things to check:

1. It works best on a VPS/dedicated servers from a cloud provider. Your internet connection at home might be insufficient for contacting DHT nodes reliably I am afraid (NAT being an example).
   - You might still check your port forward

[2019-05-19 09:40] #145 closed

[2019-05-19 09:52] boramalper commented on #191
@skobkin Apparently GoReleaser does not support cgo, which we depend on for SQLite3 support (see [mattn/go-sqlite3](https://github.com/mattn/go-sqlite3), so that's out of question.

If you check the [Makefile](https://github.com/boramalper/magnetico/blob/master/Makefile), you'll see two targets `magneticod` and `magneticow`, which has compilation commands. You can cross-compile by setting the foll

[2019-05-19 09:52] #191 closed

[2019-05-19 09:54] boramalper commented on #157
Closing as we no longer use Python (but switched to Go). Let me know if you encounter any other issues with more recent versions. =)

[2019-05-19 09:54] #157 closed

[2019-05-19 09:55] boramalper commented on #160
@mweinelt is right. Though the problem is it was presented as an INFO level log message so you are also right in regarding it as a problem. This is fixed in recent versions.

Closing as we no longer use Python (but switched to Go). Let me know if you encounter any other issues with more recent versions. =)

[2019-05-19 09:55] #160 closed

[2019-05-19 11:17] jbruchon opened #198 "[Feature request] Throttling/speed control"
I'm aware that all documentation says "this will eat your internet connection for breakfast." 0.7.2 seemed to leave plenty of bandwidth to work with, but 0.8.0 indeed swallows my connection to the point that I can't even reach DNS. Some form of throttling/speed limiting would be very helpful. I also suspect that my home router (even though it was relatively "high-end" when new a few years ago and

[2019-05-19 12:06] skobkin commented on #185
Nice, thanks!

[2019-05-19 12:10] skobkin commented on #191
You can also check Scaleway's [ARM](https://www.scaleway.com/en/pricing/#anchor_arm) and [Baremetal Arm](https://www.scaleway.com/en/pricing/#anchor_baremetal) instances. Both can be created and deployed via API (AWS also can be deployed automatically too).

[2019-05-19 22:42] lopoki opened #200 "Add more bootstrap address"
Please add more bootstrap address

                "router.utorrent.com:6881",
		"router.bittorrent.com:6881",
		"dht.transmissionbt.com:6881",
		"dht.aelitis.com:6881",     // Vuze
		"router.silotis.us:6881",   // IPv6
		"dht.libtorrent.org:25401", // @arvidn's

[2019-05-19 22:58] lopoki opened #201 "Add support for crawling from tracker for initial"
Here is list for main/biggest tracker
https://zooqle.com/api/json_trackers.php?limit=200

Please add support to crawl from trackers above

[2019-05-20 07:49] Glandos commented on #200
I'm not sure `magneticod` supports IPv6. See #91

[2019-05-20 13:20] jbruchon commented on #198
I have been running some tests with the 0.8.0 trawler and it consistently murders my internet connection, as in the connection is so overwhelmed that it fails entirely after one minute and doesn't recover until about one minute after terminating magneticod. This completely stops all data collection and the connection remains dead and unusable as long as the program runs, so whatever has changed ha

[2019-05-20 14:48] Glandos commented on #198
I run magneticod on my personal server, where I have 2 ISPs. The first one give a direct connection with a bridged ADSL modem, the second one gives fibre channel with a DMZ-NAT style connection.
It's clearly impossible to run magneticod on the latter. Even with a lot more bandwidth, the connection stops working after some minutes. It's surely linked to the fact that the modem does some conntrack,

[2019-05-20 22:51] ad-m commented on #201
Why do you think this should be a magnetico functionality, not a software that uses data collected by magnetico eg. front-end UI?

[2019-05-20 22:52] ad-m commented on #191
Drone.io is CI provider which support ARM & free for open-source.

[2019-05-21 05:18] kescherCode commented on #201
@ad-m I think they want magneticod to store the metadata from a tracker, effectively making your own copy of the metadata and putting it in magneticod's database.

[2019-05-21 13:01] boramalper commented on #162
I am closing the issue as I consider the **magneticow** API mature enough at this point. With v0.8.1 (just released), all the rendering is now done client-side just so that we can dogfood our own API and see its shortcomings. =)

The documentation can be found at: https://app.swaggerhub.com/apis/boramalper/magneticow-api/v0.1

I expect no further changes to the API, except adding new fields. The o

[2019-05-21 13:01] #162 closed

[2019-05-21 13:03] boramalper commented on #162
@izolight Indeed it was a bit confusing, sorry about that. They were introduced for the upcoming seeder/leecher counts feature, but I removed them for now to keep things comprehensible.

I'll update it later on once I implement [BEP 33: DHT Scrapes](https://github.com/boramalper/magnetico/wiki/BEP-33:-DHT-Scrapes).

[2019-05-21 13:10] boramalper commented on #200
@Glandos That is indeed correct.

I am also afraid that Vuze DHT is not using Mainline DHT (they are different networks using different protocols), unless things have changed recently. See more details here https://wiki.vuze.com/w/Distributed_hash_table

I can add utorrent's tracker myself, or you can try submitting a PR. [It should be fairly trivial](https://github.com/boramalper/magnetico/blob/v

[2019-05-21 13:10] #200 closed

[2019-05-21 13:11] boramalper commented on #192
This shall be fixed with the recent versions. Closing the issue, but let me know if it persists with the recent versions too.

[2019-05-21 13:11] #192 closed

[2019-05-21 13:11] boramalper commented on #188
Closing due to inactivity.

[2019-05-21 13:11] #188 closed

[2019-05-21 13:32] Glandos opened #203 "[0.8.1] Fatal error: concurrent map iteration and map write"
This error is triggered with the new version. It was not there before.

[code]

[2019-05-21 15:46] boramalper commented on #193
Sorry! @skobkin is absolutely right, it's not implemented yet. I am not sure if it's required either, I don't know if anyone has a strong preference of config files over cmd-line flags.

Closing the issue as I have now updated the README. =) Feel free to create a new issue if you think having a configuration file is worthwhile.

[2019-05-21 15:46] #193 closed

[2019-05-21 20:58] boramalper commented on #201
1. I am not even sure how trackers can be crawled (_i.e._ make them dump all their torrents). You might want to share that, *but...*
2. The premise of **magnetico** is to decentralise BitTorrent. It's not merely a to dump all the torrents out there. I am not dismissing the idea entirely, as I think becoming a Google-grade torrent search engine is an ambitious & exciting goal, but I am not fully so

[2019-05-21 20:59] boramalper commented on #201
Also see #197.

[2019-05-21 20:59] boramalper commented on #197
I agree. I think having a clearly defined export format would be great too. I'll work on it. =)

[2019-05-21 21:01] boramalper commented on #10
Closing the issue as v0.8.1 has parameters to allow the CPU and bandwidth usage to be controlled.

Feel free to open a _new_ issue if you still have any problems with it. =)

[2019-05-21 21:01] #10 closed

[2019-05-21 21:02] boramalper commented on #85
Closing the issue due to age, also because we now have a better method (indexing, instead of brute forcing...) to discover new torrents. =)

Feel free to open a new issue if the problem persists.

[2019-05-21 21:02] #85 closed

[2019-05-21 21:03] boramalper commented on #197
Also #187.

[2019-05-21 21:04] boramalper commented on #187
Moving to #197. =)

@ProphetZarquon I don't understand your request exactly. You mean a master-slave kind of database configuration or something else?

[2019-05-21 21:04] #187 closed

[2019-05-21 21:06] boramalper commented on #132
Closing the issue due to age, also because we now have a better method (indexing, instead of brute forcing...) to discover new torrents. =)

Feel free to open a new issue if the problem persists.

Lastly, I'd say it works best on a VPS, rather than at home. Also see #85.

[2019-05-21 21:06] #132 closed

[2019-05-21 21:12] boramalper commented on #108
Closing the issue since with Go rewrite, I have written an abstract database controller (see [`pkg/persistence`](https://github.com/boramalper/magnetico/tree/v0.8.1/pkg/persistence)), so anyone who is up for the task can develop an abstraction for whatever database(s) they want.

I know that there is a PR pending for Postgres (#164), but **magnetico** is still moving fairly fast, and **database is

[2019-05-21 21:12] #108 closed

[2019-05-22 02:57] jbruchon commented on #197
I'm primarily (almost exclusively) interested in importing data, not necessarily exporting it (a CSV dumped from the DB would probably be fine, really). I have access to multiple internet connections and I can siphon data from those separately, but I can't copy the DB from one and inject its data into the other which is the main thing I'd like to do. I can probably do it with SQLite tools but it'd

[2019-05-22 09:32] lopoki opened #205 "Support for splitting db file as it reach certain size"
I'm not comfortable with having one single huge database file .
Please support splitting database files as  it reach certain size, for example as db file reach 5GB, magneticod will start writing into new file instead of appending to the original db file.

Better yet please add support for other db suchh as mongod etc. Anything other than sqlite.
There's another similar project as magneticod writte

[2019-05-22 12:28] Glandos commented on #205
Did you experienced real issues with SQLite ? I'm running `magneticod` on a Intel Atom D2550 with 4GB of RAM, my database is 8.2 GB stored on an SSD, and I'm far from having troubled with it.

[2019-05-22 12:35] jbruchon commented on #205
SQLite is designed for exactly the sort of thing that's being done here. Splitting the DB will make things needlessly complex. It also takes a while to grow it to such a huge size. I have around 75K torrents and my DB is 162 MiB. MongoDB would be a terrible choice for a project like this.

[2019-05-22 13:23] lopoki commented on #205
I collect around 250k torrents in less than 2 days and the size of db grows fast. I don't have problem with size yet but at this rate will collect well around 7million torrents in a month and that is when I expect I probably will have problem and needs to export the db to some other db for real use of Web app.

[2019-05-22 13:44] jbruchon commented on #205
SQLite performance is nearly constant if a primary key and indexing is used, even with a table containing millions of entries: https://stackoverflow.com/questions/33456278/sqlite-performance-on-large-tables

Having an index can cause insertion slowdown for large insertions though: https://stackoverflow.com/questions/15778716/sqlite-insert-speed-slows-as-number-of-records-increases-due-to-an-index

[2019-05-22 19:48] lopoki commented on #205
IMHO sqlite is not the correct choice food this type of project, but that's up to @boramalper .
People who claim that sqlite can handle large data always add caveat that it has "the right setting" . And that part is the most important thing from that statement. I have a web app that work with large sqlite data around 35GB and you must optimize often and  fine tune often to get a usable good enough

[2019-05-29 19:03] boramalper commented on #177
@goxofy Sorry it was a mistake in the docs, no need for a configuration file. :)

[2019-05-30 05:01] donaldsteele commented on #190
@skobkin an ORM does not automatically give you the ability to run against any database you wish. Generally speaking boramalper is correct , there is additional overhead that would potentially be a problem. That being said one of my previous pull requests added mysql as a target db and i had / have the postgresql patch as well. Once i get a bit of time i am more than happy to implement the patches

[2019-05-30 08:02] skobkin commented on #190
@donaldsteele

It's arguable if ORM will make any *noticeable* overhead in case of magnetico usage scanarios. Personally I don't think so.

I have my own PostgreSQL support prototype patch for new version and it works for magneticod part but have problem with non-unicode torrent names which could be found in DHT. Unfortunately right now I have no time to deal with this problem (also my expertise w

[2019-06-01 22:50] jangrewe commented on #195
I'm pretty sure the Go rewrite doesn't know anything about the schema of the Python version, the migrations it makes are only from older Go versions.

[2019-06-01 22:55] jangrewe commented on #108
I would also vote in favor of a complete database abstraction layer, as opposed to **only** Postgres support. That way people could continue using the SQLite database, if they wish to.

[2019-06-06 08:56] skobkin commented on #195
It makes no sense because many people collected a lot of data using Python version.

If not in `magneticod` itself I think migration from the old Python version must be implemented at least in small separate tool to save that data.

[2019-06-12 17:48] jangrewe commented on #195
If you think it **must** be implemented, feel free to go ahead and do it. In the meantime everybody else just moved on...

[2019-06-12 18:37] skobkin commented on #195
@jangrewe

If I think about anything I can say about it too. Nothing more.

Probably I'll make migration tool for my database. But it'll likely not be a part of magneticod.

I like how you're speaking for all of the users. Sure it's a good habit.

[2019-06-15 01:13] kfaulhaber commented on #203
This is my first play with magneticod since python, and I am also experiencing the same issue.  It runs for a very short period (maybe 1 or 2 hours) and then exits with this same error.

[2019-06-17 07:14] ad-m opened #207 "Go version"
Which Go version should be used to build application?

CI mention one version:
https://github.com/boramalper/magnetico/blob/master/appveyor.yml#L16

Dockerfile mention another:
https://github.com/boramalper/magnetico/blob/master/Dockerfile.magneticod#L3

[2019-06-19 14:21] jangrewe commented on #207
If it builds with 1.12, build it with 1.12. If you only have 1.11, use 1.11.
In short: If it builds, it builds. ;-)

[2019-06-19 14:23] jangrewe commented on #205
I just want to put in my vote for "anything other than SQLite". Maybe we don't need a full ORM, but at least some abstraction that allows me to use MySQL, or even Postgres if i have to, would probably be a better idea than starting to work around the potential issues with SQLite.

[2019-06-27 12:22] elig0n opened #208 "magneticow build test failed"
go test ./...
    # github.com/boramalper/magnetico/cmd/magneticow [github.com/boramalper/magnetico/cmd/magneticow.test]
    cmd/magneticow/handlers.go:102:15: undefined: Asset
    cmd/magneticow/main.go:196:15: undefined: Asset
    ok      github.com/boramalper/magnetico/cmd/magneticod  (cached)
    ok      github.com/boramalper/magnetico/cmd/magneticod/bittorrent/metadata      (cached)
    ?

[2019-06-28 08:55] Azat868 opened #209 "Docker launch instructions?"
[code]
![изображение](https://user-images.githubusercontent.com/29046741/60330599-785f4180-999b-11e9-997b-0e28a61e24cf.png)
Tell the newcomer how to run the container?

[2019-07-10 17:15] jangrewe commented on #209
Let's say you want to persist the database in `/opt/magnetico` and want to access the web interface on port `12345`:
[code]

You should probably also have a look at the `docker run` documentation...

[2019-07-13 16:34] rnhmjoj commented on #208
I figured the error is due to the fact the prerequisites of the `all` make target are out of order.
`test` should be built last, after magneticow.

[2019-07-25 18:11] gnouts commented on #195
I don't follow closely the project and I was surprised of this breaking change...
I mean, what's the point of having an offline torrent database if you have to start from scratch every two years ^^'
Nevermind, I still like this project, I'll start from scratch again, and I hope you'll handle migration when changes happen in the future :)

[2019-07-30 09:08] Glandos commented on #23
I ran a test with 2 scenarios:
1. One indexer with 3500 neighbours
2. Two indexers with 1500 neighbours

This test runs with an Intel(R) Atom(TM) CPU D2550   @ 1.86GHz. There is enough RAM. I have a 1Gb/s down and 600Mb/s up connection.

The result is that scenario one use less CPU: ~87% vs ~107%.
It also uses a bit less network: 970kb/s up - 1600kb/s down vs 1000kb/s up - 1550kb/s down. 6800 pack

[2019-08-01 07:43] Foxbond commented on #172
Try these flags with different values:
--indexer-interval
--indexer-max-neighbors
--leech-max-n

[2019-08-04 23:16] ranolfi opened #210 "Why is magnetico uploading data during the 'Updating database' phase?"
I downloaded the [0.8.1 release](https://github.com/boramalper/magnetico/releases/tag/v0.8.1) and tried running `./magneticod`.

The console output is:

It remains stuck in the last step (_Updating database schema from 2 to 3..._) and I noticed my upload usage was quite high:

![image](https://user-images.githubusercontent.com/8507649/62430551-5a040880-b6f4-11e9-847e-df076364f8d8.png)

I though th

[2019-08-04 23:17] ranolfi commented on #203
I experienced this too, but only once.

[2019-08-06 20:57] chovy opened #211 "modify the front-end code?"
How do I modify the front-end?

[2019-08-06 21:09] chovy opened #212 "unable to find credentials file"
When I run docker-compose up I get an error that it can't find the credentials file.

[2019-08-06 22:17] chovy commented on #209
I get an error about a missing credentials file.

[2019-08-07 11:43] fonic opened #213 "Change default parameters to throttle down"
Are you aware that your tool in its current state essentially perform a DoS attack on the DHT? You should either change the default settings or stop releasing until you have implemented a correct bandwidth limiter.

[2019-08-07 13:51] Peedubya commented on #12
Hi Guys, I'm a total noob at this.  Can someone give me step by step instructions on what to type in mac os x terminal to install this?

[2019-08-11 17:10] nephaste commented on #203
same for me.. on Qnap NAS, but on first start

`[~] # ./magneticod -v
2019-08-11T19:07:37.713+0200    INFO    magneticod v0.8.1 has been started.
2019-08-11T19:07:37.713+0200    INFO    Copyright (C) 2017-2019  Mert Bora ALPER <bora@boramalper.org>.
2019-08-11T19:07:37.713+0200    INFO    Dedicated to Cemile Binay, in whose hands I thrived.
2019-08-11T19:07:37.713+0200    INFO    Compiled on 2019-

[2019-08-21 12:40] jbruchon commented on #213
Does it, though? How do you know?

[2019-09-17 23:03] boramalper commented on #212
Hey!

**magneticow** looks for the credentials file at `~/.config/magneticow/credentials` by default.

In v0.9.0, the default username and password will be supplied as `magnetico` and `magnetico`.

[2019-09-17 23:03] #212 closed

[2019-09-17 23:09] boramalper commented on #209
@Azat868 Also see

- https://github.com/boramalper/magnetico/blob/master/cmd/magneticod/README.md#using-the-docker-image
- https://github.com/boramalper/magnetico/blob/master/cmd/magneticow/README.md#using-the-docker-image

@chovy Answered at #212.

[2019-09-17 23:09] #209 closed

[2019-09-17 23:13] boramalper commented on #211
See **magneticow** (the web server daemon). You can find the HTML and static files under data directory (cmd/magneticow/data).

If you have more specific questions, that'd be easier to answer. =)

[2019-09-17 23:13] #211 closed

[2019-09-17 23:46] boramalper commented on #190
Closing the issue. Feel free to open more specific ones if anyone is willing to undertake the task of writing an abstraction that uses an ORM.

[2019-09-17 23:46] #190 closed

[2019-09-17 23:49] boramalper commented on #207
@jangrewe Well, correct. =)

@ad-m I think it's safe to say that you can always use the latest 1.X version of Go. I'll try to be more careful about consistency in the future.

[2019-09-17 23:49] #207 closed

[2019-09-17 23:57] boramalper commented on #205
I think splitting the database would be far too complicated so I kindly refuse that idea.

I agree that it'd indeed be great to have support for other databases but I sadly have no time. Feel free to create *specific* issues for the databases (or architectures) you'd like to see supported, and see if there is anyone interested in implementing them.

[2019-09-17 23:57] #205 closed

[2019-09-18 00:13] boramalper commented on #138
Hey!

Can you please give the latest version a try and see how it goes?

[2019-09-18 00:13] #138 closed

[2019-09-18 00:23] boramalper commented on #174
Shall be fixed by d7bfbc71824c577d651e3d44e647bb3ac49568ef

[2019-09-18 00:23] #174 closed

[2019-09-18 06:13] ProphetZarquon commented on #155
Exactly this! I feel certain that a secondary magnetico DHT network containing hashes-->filemetadata (complementary to the existing DHT of peers-->hashes) could dramatically reduce duplicated effort & improve database resiliency, leveraging the power of distributed tables with minimal trust requirements.

I hope somebody implements this, especially given all the recent interest in running concurre

[2019-09-18 10:07] Beanow commented on #155
In my humble opinion this is a great avenue for a not-yet core contributor to explore.
See if you can:
- Set up a dedicated network for hashes (perhaps using [libp2p](https://github.com/libp2p/go-libp2p))
- Hack in some IPC call to send hashes to magnetico

And submit that as a proof of concept?

[2019-09-18 11:36] boramalper commented on #208
Thanks for reporting! Travis build passed with the latest commit & version so I presume the issue no longer persists.

Closing this issue, but feel free to open new ones if the build breaks again.

[2019-09-18 11:36] #208 closed

[2019-09-19 09:51] Glandos commented on #203
It still happens with 0.9.0

[2019-09-21 00:02] ProphetZarquon commented on #155
I agree that this would be a great jumping-off point for a non-core contributor; unfortunately I can't even run magnetico* right now, because 1) I am on Android 99% of the time, with one networkless Windows PC doing media playback duty several days a month, & 2) I have no reliable internet access, over-using a T-Mobile cellular plan on a tower that is so overloaded that all requests time out durin

[2019-09-27 21:37] cainiaocome opened #215 "0 torrent found"
## version:0.9.0

## network: public ip, 100M download, 50M upload, ifstat output while running:
[code]

## log
[code]

## problem

no torrent found.

[2019-09-30 15:30] boramalper commented on #215
What does your "connection status" say in qBittorrent? Is it green or yellow?

[2019-10-02 18:18] skobkin commented on #215
What's your network configuration? Did you use recommended iptables `NOTRACK` rules? If so on which machine did you use them (router or host where `magneticod` is running)?

[2019-10-02 18:20] skobkin commented on #210
It's not "update database" phase. Try to run `magneticod` with verbose output and you'll most likely see that it's trying to find peers in the network.

[2019-10-02 18:25] skobkin commented on #197
I think that torrent import is pretty easy to implement with current persistence layer. Not sure about export but probably it's easy too even with current methods (like search with pagination).

[2019-10-02 18:52] skobkin commented on #201
I don't think that tracker import/search is what magnetico intended to do.

In my humble opinion key word in Bora's answer is "decentralise". When you're relying on trackers you're making it more centralized and less tolerable to internet censorship.

Also there are many problems with data retrieval because there is no "common" format which all trackers are using. Yes, you can use `*.torrent` file

[2019-10-06 02:15] cainiaocome commented on #215
i have a qbittorrent-nox running in headless mode with web ui, just checked, it's green.

[2019-10-06 02:18] cainiaocome commented on #215
don't know much about iptables, i used ufw, when i was doing this test, i turned ufw incoming and outgoing default to accept, except port number 1080, 6379, 90, 80, 8888 reject incoming.

[2019-10-06 08:41] kescherCode commented on #215
@cainiaocome Without these iptables rules, it won't work in some instances, so you need to first try to temporarily apply those and afterwards make them permanent.

[2019-10-14 05:54] anindyamaiti opened #218 "[Not Issue] Community Database Dump"
I started fresh last month, and have ~1.7M torrents in my database after about 3 weeks. And, I plan to keep my `magneticod` running for the foreseeable future, expecting to add about ~50K per day after the initial spike converges.

There have been [requests for database dump before](https://github.com/boramalper/magnetico/issues/68), but no one has shared theirs in my knowledge. So, I thought of t

[2019-10-14 06:04] kescherCode commented on #218
I will soon create a page under https://kescher.at/magneticod-db for sharing my own SQLite database backups.

[2019-10-14 06:37] anindyamaiti commented on #218
Thanks @kescherCode. I suggest you take the same approach of sharing via .torrent.

As far as GitHub is concerned, I am confident that sharing an external webpage that contains .torrent files of self-created databases is not in violation of any rules. Neither the webpage posted here nor the torrent/database contains any copyrighted material.

[2019-10-14 08:16] Glandos commented on #218
That's good news.

Someone is brave enough to write a small script to merge 2 databases?

[2019-10-14 08:17] kescherCode commented on #218
https://github.com/kd8bny/sqlMerge

[2019-10-14 09:54] kescherCode commented on #218
I have put up a page at https://kescher.at/magneticod-db now :)

[2019-10-14 11:18] Glandos commented on #218
There is a real issue here.
First, the sqlMerge repository doesn't work even by merging kd8bny/sqlMerge#3 and kd8bny/sqlMerge#4 since it relies on `str(row)` which doesn't work on BLOB.

Then, I explored manual merging. Obviously, `torrents.id` needs to be modified, but the issue is that there is a foreign key from `files.torrent_id` to `torrents.id`, so that the script should:
- Read a record fro

[2019-10-15 21:33] AlphaDelta commented on #218
It may be ideal to compress the database before sharing.

Compressing with LZMA2 (7zip) on the 'fastest' preset (64K dictionary, 32 word size) yields a file 23.3% of the size of the uncompressed database.

Compressing on the 'normal' preset (16M dictionary, 32 word size) yields a file 15-18.2% of the size of the uncompressed database.

I'd suggest using the following command on linux systems with

[2019-10-15 21:42] kescherCode commented on #218
@AlphaDelta I agree, and I will compress my future torrents containing a database.sqlite3 with xz, however probably with the most aggressive preset you've ever seen:

```xz --lzma=dict=1536Mi,nice=273```

[2019-10-15 21:56] AlphaDelta commented on #218
@kescherCode That is indeed the most aggressive preset I've ever seen 😂

Just keep in mind the entire dictionary is loaded into memory when decompressing, so it would require allocating 1536MiB of memory just to decompress the database.

Probably not worth riding the exponential-cost train that far.

[2019-10-16 01:59] anindyamaiti commented on #218
That's a very significant size reduction using `xz`!

I will share both compressed and uncompressed versions from next time. Those who have a low-memory VPS for hosting magneticow, may want to directly download the uncompressed database.

[2019-10-16 05:34] ProphetZarquon commented on #201
While I do actually like the idea of magnetico* becoming the basis of a unified framework for all things torrent related, I agree that scraping every magnet from a tracker seems like something one might run prior to magnetico* rather than something magnetico* would do.

[2019-10-16 06:02] ProphetZarquon commented on #187
Oh no, identical software, just that different relative resources or geographic locations would cause some instances to benefit greatly by db-sharing from more advantageously positioned or equipped instances.

The best the more remote or resource-limited instances might be able to offer are rare files (if there's truly a high degree of physical separation between instances), but if a smaller, slow

[2019-10-16 13:40] DyonR commented on #215
I think I have the same issue. No ports are blocked, I have a 200/200 Mbit/s connection, and the machine is doing nothing else really. I have had days and months that a couple thousand torrents got found, but whenever I restart I just get 1-10 for days, weeks or months. In February till July I got only like 10k torrents in total, and then in August and September I got 150k out of nowhere!

I keep

[2019-10-16 14:20] skobkin commented on #215
@DyonR

Did you try to use `magneticod` **without** these rules?

Are you behind provider's NAT or do you have real IP address? Are you using router? If so, did you set up port forwarding?

Also how other similar software like torrent clients (you can try transmission daemon) works on this machine?

[2019-10-16 14:53] DyonR commented on #215
@skobkin I have been 'trying' to run magneticod for months now. Last month (when 0.9.0 got released) I did try adding those iptables, which didn't help.

I am not using a router/firewall since my device is a VPS. Thus also no NAT, and no port forwarding necessary.

qBittorrent-nox runs fine with down and upload speeds hitting 200/200 Mbit/s
[Here is a screenshot of my statistics since January](htt

[2019-10-16 15:13] skobkin commented on #215
@DyonR

These `iptables` rules are just for firewall load optimization. They're not necessary (but surely recommended). Firstly you probably must try running `magneticod` without any firewall tweaks. And then, if it works fine you must try to apply these rules. If you're trying to do it simultaneously, you're making your problem more hard to find because if not correctly applied these rules may st

[2019-10-16 15:20] skobkin commented on #218
BTW I was writing a *simple and dirty* [tool](https://gitlab.com/skobkin/magnetico-go-migrator) to migrate old `magneticod` (Python) database data to the new version (including PostgreSQL and any another supported engine). It's **not optimized** yet and uses too much memory (loads all torrents from the database at once).

But if you're not scared of bad and not optimized code you can *try* to use

[2019-10-17 11:35] FofeuLabs opened #220 ""error": "database is locked""
I just downloaded the latest release (v0.9.0) and magneticod repeatedly crashes with the following error.

`FATAL	Could not add new torrent to the database	{"infohash": "f0dac86492f0875de3a1843f70909edfcfe10b4b", "error": "database is locked"}`

Here are some logs from multiple program runs. The system is fresh and has no other magnetico* process running.

[magneticod_logs.txt](https://github.com/

[2019-10-18 21:25] skobkin commented on #220
Same problem for me for a long time (probably from first Go version release I tried).

BTW it's `sqlite3` engine related. On upstream's `stdout` or my implementations of `postgres` or `beanstalk` all works fine.

[2019-10-18 21:48] skobkin commented on #203
I'm experiencing it when using my `postgres` engine implementation on my laptop (Manjaro, Go 1.13.1) every time. But when I'm running it on my desktop (Gentoo, Go 1.13.2) it works fine for 20+ hours and doesn't crash.

Have no idea what difference can cause this problem.

[2019-10-22 17:43] DyonR opened #221 "Asian text shown and saved as �"
magneticod/w has issues presenting and saving Asian characters. Any characters are just shown and saved as � instead of the actual character. Weirdly, I also see records with proper naming.
Just a random torrent I saw in magneticow:
https://i.imgur.com/kjtk5nQ.png

Adding this torrent to my client to see how it should be:
https://i.imgur.com/JXX0oZE.png

Checking it in the databse:
https://i.imgur

[2019-10-25 18:38] skobkin commented on #221
Which codepage was used in original data from DHT?

If it was not UTF-8 then it's probably expected behavior.

[2019-10-25 18:43] skobkin opened #223 "[enhancement] Last announce time"
For now we have [`discovered_on`](https://github.com/boramalper/magnetico/blob/master/pkg/persistence/sqlite3.go#L526) timestamp.

But it would be good to have something like `last_announced_on`. It will help to decide which torrent to choose for more successful download as torrents which were announced a long time ago are more likely dead than newly reannounced.

[2019-10-26 12:41] rnhmjoj commented on #111
I had better luck using [ngx_http_sub_module](http://nginx.org/en/docs/http/ngx_http_sub_module.html). Basically you have to rewrite all the absolute paths:
[code]

[2019-10-26 13:19] lruggieri commented on #111
Just out of curiosity, why do you need to put nginx in front of golang?

[2019-10-26 13:26] rnhmjoj commented on #111
I moved my instance to a remote server (it was running from my computer) and I wanted to access it without an ssh tunnel. Also I run many services but I don't own a domain so I map them to different paths of the same virtual host.

[2019-10-26 13:42] Glandos commented on #218
Here it is : https://framagit.org/Glandos/magnetico_merge
It's hosted on another instance of GitLab, but you can login with your GitHub account if you want to contribute. If you want to fork it on GitHub, please let me know so I can follow your improvements :)

[2019-10-26 14:53] skobkin commented on #218
@Glandos It worth mentioning that it's working only with SQLite databases.

[2019-10-26 21:12] Glandos commented on #218
Yes indeed, but it is the only database currently supported :) And the only database that is shared. Sharing postgresql database for merging is not complex, but different.

[2019-10-27 21:08] Glandos commented on #218
[code]
Here it is. Now, I have a big merged database with your both database. More than 7 millions torrents with more than 216 millions file entries.
I should share this database when I'll have time.

[2019-10-27 22:05] anindyamaiti commented on #218
Did you not remove duplicates? I would guess that there would be significant overlap between the databases.

[2019-10-28 08:25] Glandos commented on #218
There are a lot of overlap as you saw in the merge report : `2820832 torrents were not merged due to errors.` The message is not clear, but it usually means that some constraint was violated, and the merge insert was skipped.

[2019-10-31 19:05] skobkin commented on #218
What do you call a duplicate? Torrents with the same infohash [couldn't be inserted again](https://github.com/boramalper/magnetico/blob/master/pkg/persistence/sqlite3.go#L523).

[2019-11-02 20:59] Glandos commented on #218
Here is mine: https://antipoul.fr/dhtd/ This is very basic.
It includes databases from https://tnt.maiti.info/dhtd/ and https://kescher.at/magneticod-db at the time of writing.
It is huge (21GB after decompression), but it works on my Atom D2550, so it should work anywhere.

[2019-11-07 18:26] lruggieri opened #230 "Checking if a peer is a seeder"
Hello,

I was wondering how to check if a peer can be considered a seeder.

The fact that it responds to our request for an infohash with metadata info makes it a peer but not necessarily a seeder, right?
To say it's a seeder it should have all pieces of the torrent with the infohash we asked. So should we ask specifically for each piece (Info.**Pieces**)
[code]

that is present in the torrent met

[2019-11-09 14:15] Glandos commented on #218
@anindyamaiti Thanks for your regular updates. Your page is very nice. Do you think you can add an RSS feed? I know it's another thing to do :)

[2019-11-09 16:44] boramalper commented on #230
I think so, correct! Though, for our purposes, I don't think we need seeders only either.

Assuming I understand it right, requesting each piece would be downloading the torrent wouldn't it? =)

I don't really know (or at least can't remember right now) how a client can know whether a given peer is a seeder or not. You might want to ask on [anacrolix/torrent](https://github.com/anacrolix/torrent)

[2019-11-09 16:44] #230 closed

[2019-11-09 16:54] boramalper commented on #218
Pinned! I think once we implement import & export functionality, it'd be even easier (and portable across different databases). =)

[2019-11-09 16:54] #218 closed

[2019-11-09 17:05] anindyamaiti commented on #218
@Glandos I was thinking of the same. Here is a basic automated RSS feed of the two most recently modified files: [https://tnt.maiti.info/dhtd/rss.php](https://tnt.maiti.info/dhtd/rss.php)

Nothing fancy, just the filenames, but it should be good enough for a notification.

@boramalper thanks for the pin! 😊

[2019-11-13 16:11] lruggieri opened #231 "Write Congestion, docker and iptables"
Hello,

I am back on this topic even though it has already been discussed before.
The current solution to the "Write Congestion" problem, as reported in the README, is to
[code]

where PORT is the port set with the `--indexer-addr` parameter. By default, it is 0, so I guess the command becomes
[code]
this does not work for me. I still get the congestion problem. So here my first question would be:

[2019-11-13 22:07] chovy opened #232 "docker-compose up fails"
[code]

[2019-11-13 22:59] chovy opened #233 "No results"
I just started the docker app and I get no results when searching. Am I missing something?

[2019-11-14 10:52] alcalyn commented on #232
Yes I have the same issue, you have to move `image:` outside of `build:`

Here is a working `docker-compose.yml`:

[code]

This one will build image from source because `build:` takes precedence over `image:`.

If you want to use already built image from docker hub, just comment out `build:` in bith services:

[code]

:warning: Warning, at this time, docker hub images have been built two month ago

[2019-11-14 12:09] alcalyn commented on #174
I had this issue, and it does not crash anymore with the latest version.

But I still get lot of `WARN	WRITE CONGESTION!	{"error": "operation not permitted"}`, like more than 30 per seconds

[2019-11-14 13:49] lruggieri commented on #174
Hi @alcalyn,

that is likely due to not setting
[code]
as explined in [magneticod readme](https://github.com/boramalper/magnetico/tree/master/cmd/magneticod). Some people fixed your problem with it. I still have some issue but they are likely related to some misconfiguration on my side.
Try those 2 rules (PORT_NUMBER should be 0 unless you specified some custom `indexer-addr` parameter. In that ca

[2019-11-14 17:26] lruggieri commented on #233
@chovy How do you start the docker? What's your output?

[2019-11-14 18:43] chovy commented on #233
docker-compose up -d

[2019-11-14 18:55] skobkin commented on #232
I've explained the reason of this error [here](https://github.com/boramalper/magnetico/pull/235#discussion_r346486728). This issue is not about precedence of `build` but about invalid `docker-compose.yml`.

[2019-11-14 19:27] lruggieri commented on #233
Run
`go build --tags "fts5" "-ldflags=-s -w -X main.compiledOn=`date -u +%Y-%m-%dT%H:%M:%SZ`" -o magneticodTest cmd/magneticod/main.go; ./magneticodTest -v`
and post the output. After some time (depending on your connection speed) you should get something like
[code]
This has been run on my local PC. You see that that "n" value is pretty low compared to what I would get on a more performant server

[2019-11-14 22:11] chovy commented on #233
[code]

[2019-11-15 10:24] lruggieri commented on #233
Right, you do not have the correct version of go installed in your machine.

Well you are going to use docker anyway, so let's just see what you get with
`sudo docker-compose up magneticod` (no detached mode)

[2019-11-15 17:02] chovy commented on #233
[code]

[2019-11-15 17:30] lruggieri commented on #233
@chovy that's just the last part of the log, so the actual error is not visible.
But, if I have to guess, I would say you do not have the latest version of magnetico. **Pull master**, retry and if it happens again please post the full log, at least enough to see the actual error (before the first `goroutine 1 [....]`)

[2019-11-15 18:15] chovy commented on #233
I have the latest master. https://stuff.chovy.com/test.txt

On Fri, Nov 15, 2019 at 9:30 AM Luca Ruggieri <notifications@github.com>
wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2019-11-15 18:39] lruggieri commented on #233
`[36mmagneticod_1_722a2f7ea7b1 |[0m 2019-11-15T18:13:01.076Z	INFO	Compiled on 2019-09-18T01:26:26Z`
Apparently you are running an old version (`Compiled on 2019-09-18`). The reason is that using the docker-compose file there is in master you are going to have this:
[code]
but this means that you are using the latest version there is on dockerhub, which reports
`By boramalper • Updated 2 months a

[2019-11-16 17:57] chovy commented on #233
same error.

[2019-11-16 19:28] lruggieri commented on #233
same answer.
Would you mind posting a full log, please?

[2019-11-16 23:22] chovy commented on #233
I did.

On Sat, Nov 16, 2019 at 11:28 AM Luca Ruggieri <notifications@github.com>
wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2019-11-18 15:39] lruggieri commented on #231
@skobkin do you have any clue on this?

[2019-12-01 08:03] dessalines commented on #218
@boramalper suggested I point to [torrents.csv](https://gitlab.com/dessalines/torrents.csv/), an open repository of torrents / global search engine. [Here's the issue](https://gitlab.com/dessalines/torrents.csv/issues/70) for potentially adding people's data to this.

[2019-12-02 01:44] cannadayr commented on #220
I also frequently experience this problem and would like to use a postgres backend. Can we work to upstream @skobkin 's fork?

[2019-12-23 21:38] wtfnzb opened #236 "magneticod and backfilling..."
hi, lets say i do import 1000 infohashes, does magneticod will scan them that they have no files, or its skipped and only those infohashes which magneticod get have files?

[2019-12-25 08:18] rezad1393 opened #237 "running the crawler crashes my modem"
I downloaded and tested the magnetico binary and when I ran it I thought my internet went out.
it turned out that running this application will crash my tdlte outdoor modem.
I have no idea why.
and it crashes it fast. as in the second I run it the modem gets unresponsive after 1 sec and I have to wait for it to reboot.

[2019-12-25 08:36] kescherCode commented on #237
magneticod does the same to my modem, and that's because it essentially spams many IP ranges with UDP packets. I run magneticod on a server directly connected to a network instead now.

[2019-12-25 08:43] rezad1393 commented on #237
I am on residential internet so what you did is impossible for me.

any idea that maybe the app can fix this maybe by a parameter that limit that?

[2019-12-25 09:03] kescherCode commented on #237
There has been discussion about implementing a limiter into magneticod, but no one really comes around to do that.

[2019-12-25 09:04] kescherCode commented on #237
And well, most modems issued by ISPs are utter trash. They certainly don't expect us to be spamming UDP packets out into the wild either though ;)

[2019-12-25 16:43] lruggieri commented on #237
I actually did.
https://github.com/boramalper/magnetico/pull/227

[2020-01-09 13:38] Musickiller commented on #138
well, I've done the same as @enusri and got error:
[code]
OS: Windows 10
Python 3.8, also tried on 3.7

[2020-01-09 14:02] Musickiller commented on #138
Fixed by changing all gevent.wsgi to gevent.pywsgi in the main file. However I've hit another problem for now...

[2020-01-09 15:41] Musickiller commented on #203
It does. Sometimes it runs for some time, finds a few torrents, and sometimes it crashes with this error.

[2020-01-09 16:31] Musickiller commented on #203
somewhat solved be setting --indexer-max-neighbors=1000

[2020-01-09 16:33] skobkin commented on #203
Just reducing the possibility.

[2020-01-09 16:36] Musickiller commented on #203
yes, but this way I can at least run the app. It's not a solution, but it's a way to try the app anyway =D

[2020-01-10 11:57] lruggieri commented on #203
Does https://github.com/boramalper/magnetico/pull/225 (already merged) not solve the issue?

[2020-01-10 12:05] Musickiller commented on #203
merged on 9 Nov 2019, while released on 18 Sep 2019. So as it is said, the issue persists in 0.9.0, however I can't say anything about the fix. May be it's time to do a new release?

[2020-01-10 12:24] lruggieri commented on #203
Maybe, that's up to Boram.
But if your purpose, as you stated, is to try the app then try using master for your testing

[2020-01-16 01:42] anacrolix opened #238 "magneticow doesn't like trailing new line in credentials"
`ERROR	error while parsing flags: on line 2: format should be: <USERNAME>:<BCRYPT HASH>, instead got:`

[2020-02-03 14:24] Glandos commented on #218
I have a new dump of my own: https://antipoul.fr/dhtd/20200203_9.2M_magnetico-merge.torrent

Since my server is really low on CPU, I didn't use XZ and switch to zstandard. The output is larger, but much faster to compress / decompress.

No tracker inside, so I will be the first swarm.

[2020-02-03 19:48] kescherCode commented on #210
I think there should be a "database upgrades are done, starting to find new peers" message, because I remember being confused by this before running verbose output as well.

[2020-02-03 19:54] kescherCode commented on #218
I, too, have released a new dump on https://kescher.at/magneticod-db.
It uses zstandard compression from now on as well.

Obviously not relying on trackers either, just the DHT.

[2020-02-04 05:18] anacrolix opened #240 "Can't run on MacOS"
Works fine on Linux, but on MacOS, running magneticod I get:
[code]

Same error on `master` and `v0.9.0`.

[2020-02-05 21:33] kescherCode commented on #240
"Unable to open database file" looks like a file permission error or a corrupted DB to me.

[2020-02-07 04:38] anacrolix commented on #240
There's more:
[code]

[2020-02-20 23:17] boramalper commented on #187
Sounds quite complicated to me, to say that they are sharing one db via a DHT; how different would that be from the current DHT? =)

[2020-02-21 09:07] #232 closed

[2020-02-22 14:24] boramalper commented on #221
Thank you for taking time to report this!

@skobkin is right, the only supported encoding is UTF8, which is thankfully widespread such that the cases such as you have mentioned are exceptional.

Of course it is possible to try detect the encoding of text, but it's (a) slow and (b) comes with an increased complexity so I am against it.

[2020-02-22 14:24] #221 closed

[2020-02-22 16:16] boramalper commented on #240
@anacrolix Thank you for reporting this!

You can ignore the failing tests as they test the paths generated by Appdir package, but assumes linux by default so it fails on other platforms, which are now fixed. 5a869e127b11582275fbdae2543715d65e83c8f0

Can you try again with the latest version? I don't expect it to be resolved, but updated the dependencies which now emit more details.

[2020-02-24 00:35] anacrolix commented on #240
@boramalper the new error message:
[code]
The issue appears to be with the space in the file path given to sqlite3. AFAICT, there's some bad unexpected URI handling, or not, on the sqlite3 side. I'll submit a PR.

[2020-02-24 18:33] #240 closed

[2020-02-26 18:45] max-b opened #242 "magneticow docker image error loading shared library"
I ran the following:
[code]

[2020-02-27 21:09] ProphetZarquon commented on #187
I don't imagine that designing & implementing a new DHT is ever easy, unless one already has a good level of experience with DHT protocols... (Their prime use cases seem far more common than developers knowledgeable of them!)

If you look at the protocol implemented by Delft university's torrent app Tribler, they essentially developed a fork of the existing BitTorrent DHT, to build an index of has

[2020-02-28 13:33] boramalper opened #244 "slice bounds out of range error on v0.11.0"
On v0.11.0

[code]

[2020-03-04 20:52] subhead commented on #242
I have the same problem.

[2020-03-24 03:50] anacrolix commented on #18
In all seriousness, BEP33 could allow this data to be collected with existing queries, and responses stored in the DB.

[2020-03-24 04:26] anacrolix commented on #230
@lruggieri I believe the typical classification for a seeder is a peer that already has the entire torrent, but remains on the network (presumably to seed).

[2020-03-24 04:32] anacrolix commented on #18
@boramalper it looks like there's columns in the database, and constants in the API to support seeder and leecher counts and querying, but I don't see any code actually using it anywhere. It appears that querying on these causes a panic, and that none of the DHT exploration code fills in the database values. Could you confirm that's the case? Are there any PRs/existing attempts to do this, or was

[2020-03-24 05:05] anacrolix commented on #28
@boramalper is there a new location for the [roadmap](https://github.com/boramalper/magnetico/wiki/Roadmap)?

[2020-03-24 05:24] lruggieri commented on #230
that's correct! I was wondering though if there was an easy way to understand if the peer we are connecting to has the whole torrent and if therefore a seeder

[2020-03-24 05:28] lruggieri commented on #230
btw I believe the answer to this question is to implement BEP33, as expressed in several other issues

[2020-03-29 05:57] anacrolix commented on #18
I've [implemented BEP33 upstream](https://github.com/anacrolix/dht/commit/4b2cadcc764ea6c9fe05caa117e1a247e7000c7b), and started trying to integrate it with `magneticod`. As far as I can tell, `magneticod` inserts complete torrents into the database only when it has the metadata, it has no provision for updating or merging peer/seed counts over time. It looks like some fields where intended for th

[2020-03-29 09:09] ProphetZarquon commented on #213
Strange claim; There are numerous other DHT crawlers doing considerably more polling of the BitTorrent DHT, & yet I've never experienced a DHT related issue when using a DHT enabled torrent client.

I will point out that if this is a genuine concern, then having each magneticod instance fetch already crawled torrents from other instances via a dedicated secondary DHT would greatly alleviate any re

[2020-03-29 09:19] ProphetZarquon commented on #197
At the risk of repeating myself to the point of annoyance, each magneticod instance having the option of distributing its DB across each other instance via a secondary DHT seems like a one-stop-shop solution to pooling the efforts of multiple instances...

[2020-03-29 09:50] ProphetZarquon commented on #155
To be as clear as possible here, I don't know that an extensive trust system (blockchain/DAG) is strictly necessary for decentralizing magneticod's index as it stands now... My suggestion remains potentially simple by comparison: Store magneticod's DB as a secondary DHT among each magneticod instance. (Rating, tagging, & otherwise managing each torrent can be a task for another tool. For the life

[2020-03-30 03:33] anacrolix commented on #18
It's not pretty, but it works as a proof of concept: https://github.com/boramalper/magnetico/compare/master...anacrolix:popularity?expand=1.

[2020-04-07 15:45] vlad20012 opened #245 "What is the current required size for the database?"
Also, it would be nice to document it in the readme.

[2020-04-07 15:55] Glandos commented on #245
There is no limit on the size. Mine is currently 31GiB, with 10.7 millions torrents and 332.3 millions indexed files.

[2020-04-16 05:58] boramalper commented on #242
Fixed by @max-b's helpful PR, and pushed to Docker Hub!

Let me know if the issue persists.

[2020-04-16 05:58] #242 closed

[2020-04-16 17:01] kescherCode commented on #218
I have released a new dump, having roughly 10.8 million torrents.

You can get it [here](https://www.kescher.at/magneticod-db).

If you can't find any peers through DHT, add `185.21.216.171:55451` as peer if your client allows it.

[2020-04-17 23:01] cyberlauncher opened #246 "Credential"
Excuse my ignorance but what is the username and password for magneticow?

[2020-04-17 23:12] kescherCode commented on #246
https://github.com/boramalper/magnetico/blob/master/cmd/magneticow/README.md#setting-password-protection

[2020-04-17 23:21] cyberlauncher commented on #246
Thank you Sir.
I just needed to be more thorough in reading the Readme!

[2020-04-19 09:40] kescherCode commented on #246
Since this issue is resolved, you should close it.

[2020-04-19 16:24] cyberlauncher commented on #246
The obvious had been president.
Closing

[2020-04-19 16:24] #246 closed

[2020-04-23 08:02] ofob opened #247 "看下群主的成品展示，www.bvbus.com"
看下群主的成品展示，[www.bvbus.com](http://www.bvbus.com/)

[2020-05-03 21:17] stiv-yakovenko opened #248 "Opening http://localhost:8080 asks for password, which I don't know"

[2020-05-03 21:33] kescherCode commented on #248
https://github.com/boramalper/magnetico/blob/master/cmd/magneticow/README.md#setting-password-protection

If you haven't set this and you're using magneticow with docker, try typing "username" and "password".

[2020-05-17 06:38] chisNaN opened #249 "error while parsing flags: open /root/.config/magneticow/credentials: no such file or directory magnetico_magneticow_1 exited with code 0"
Hello.
First thanks for this ambitious and original project.
I wanted to play on different environments with magnetico but i cannot launch the magneticow container on a fresh ec2 ubuntu focal aws instance:

- on macOS catalina all the containers work fine but it cannot find any torrents
- on my ubuntu partition (on my mac) i have the container working + the crawling succeeding to find torrents
- b

[2020-06-05 14:26] obfuscate27 opened #250 "100 torrents an hour / what is considered normal operation?"
I’m trying to understand the behavior I’ve gotten from magnetico.

From the very start it has only ever sent about 300Kb/s and received around 500Kb/s. And at first it was finding on average somewhere between 500-600 torrents an hour.

I accepted this as working normally and then left it alone.

Just under 2 days later something happened and I see that around 8am the second morning the number of t

[2020-07-04 16:24] batkor commented on #249
Hi.
1. `git clone https://github.com/boramalper/magnetico.git`
2. `cd path/to/project/dir`
3. `git checkout v0.11.0`
4. `make docker`

[2020-07-05 15:22] 19h commented on #218
@kescherCode could you update your dump? I'd offer to host it as a direct download on one of my servers.

I considered sharing my version but figured your public magnetico instance has over 11.3 million torrents now which makes my 8 million look rather pale in comparison.

[2020-07-05 15:24] kescherCode commented on #218
@19h I will soon create a new torrent, yes. However, do feel free to share your dump as well, as dumps can be combined together to create a bigger database. Some people find torrents my instance can't find ;)

[2020-07-05 20:06] skobkin commented on #218
If you interested I can share dump of an instance which [uses PostgreSQL](https://github.com/boramalper/magnetico/pull/214) to store collected data.

[code]

[2020-07-05 22:13] 19h commented on #218
@kescherCode I tar-balled my dump for you here: https://r1.darknet.dev/magnetico-20200705-22b4c048c924e825d147a3fce7cb43f826fae221.tar (24'993'610 KB ~ 24G; server has a unmetered 10Gbit uplink, go wild).

@skobkin I'd love to have that! If we merge all our dumps, we may get a new super database. Would be exciting!

[2020-07-06 08:48] Glandos commented on #218
@skobkin I'll be glad to try to merge a dump from you postgres. I wrote the merger in python, that is only able to read sqlite for now. I guess that importing a dump in postgres and then merging is too big, so I'll try to read the dump in itself. But for now, the output will still be sqlite3.

[2020-07-06 08:50] Glandos commented on #218
@19h I am currently merging your dump, thanks! But next time, you should at least compress it with gzip or zstd :)

[2020-07-06 10:22] 19h commented on #218
@Glandos sorry about that. The server has more bandwidth than CPU.. :-)

[2020-07-06 10:29] skobkin commented on #78
https://www.sqlitetutorial.net/sqlite-tutorial/sqlite-export-csv/

[2020-07-06 10:34] skobkin commented on #197
I think that it would be good to use the JSON Lines format which is already supported by magneticod with one exception: we should also have `discoveredOn` field there.

[2020-07-06 10:44] skobkin commented on #218
@Glandos Dump is being made right now. But it's in `plain` format. I probably can make another `custom` dump later.

I've also thought that I could've made import/export feature for my [magnetico-web](https://bitbucket.org/skobkin/magnetico-web/). As I said in #197, the already supported [JSON Lines](https://github.com/boramalper/magnetico/blob/master/pkg/README.md) format would be one of the best

[2020-07-06 13:47] Glandos commented on #218
OK, my server also has a small CPU (Atom D2550), but here is my fresh dump, consolidated with all known database to date: https://antipoul.fr/dhtd/20200706_13.6M_magnetico-merge.torrent

[2020-07-06 14:05] 19h commented on #218
@Glandos Amazing! Thanks!

[2020-07-06 15:25] skobkin commented on #218
@Glandos I've almost wrote you a question about possibility to implement JSON export in your tool to be able to convert SQLite databases to the JSON files.

But then I realized that I've already did write a [migration tool](https://gitlab.com/skobkin/magnetico-go-migrator) which uses magnetico's own database persistence layer to store data. So it should also work with you SQLite dumps or it it wou

[2020-07-06 22:03] 19h commented on #218
@Glandos I can't find any peers to download from -- can you provide me with a direct download link? I'll make sure it's seeded.

[2020-07-07 09:36] skobkin commented on #218
@Glandos I remembered yesterday that I have backups of that database in pg_dump custom format. So here it is:
https://mega.nz/file/U15QSCpD#DzCfMNQNRJX21vkGb6gbcAMWLf6ZFmg4ej7JsMXDsAc

Let me know when I can delete it.

[2020-07-07 10:32] kescherCode commented on #218
@Glandos Your torrent has no peers.

Also, can you take a look at the merge requests for magnetico_merge? I made two a while ago.

[2020-07-07 15:06] kescherCode commented on #218
@19h Small hint for the future: If you want to share your sqlite3 file, before sure to manually open it with sqlite3 and execute `PRAGMA wal_checkpoint(TRUNCATE);`. That way, -shm and -wal files are written to the database.

[2020-07-07 16:16] Glandos commented on #218
@19h and @kescherCode I recreated the torrent with announce URIs in it. My client announced it, so now, you should be able to find me. But you need to reimport the torrent (from https://antipoul.fr/dhtd/20200706_13.6M_magnetico-merge.torrent) as I've updated it.

@skobkin I can't download from MEGA because the file is too big, and it requires me to install an extra software. I won't do this, sorry

[2020-07-07 16:23] skobkin commented on #218
@Glandos I'm removing it then :shrug:

[2020-07-08 15:25] kescherCode commented on #218
[My latest dump, containing 13.8 million torrents.](https://kescher.at/magneticod-torrents/Magneticod%20bootstrap%202020-07-08T08_58_28.torrent)
Magnet link available separately [here](https://kescher.at/magneticod-db)

[2020-07-08 15:30] kescherCode commented on #250
It used to suck up bandwidth here, but has slowed down here over time, too.

[2020-07-08 15:31] kescherCode commented on #218
@19h see updated dump above.

[2020-07-08 18:19] 19h commented on #218
@Glandos @kescherCode that's amazing, thanks both of you!

[2020-07-08 19:49] 19h commented on #218
@Glandos @kescherCode jfyi I fetched both dumps and my seedbo is seeding them.

[2020-07-08 20:06] 19h commented on #218
jfyi here are the torrents I'm seeding atm:

![Magneticod bootstrap 2020-07-08T08_58_28.torrent.jpg](https://user-images.githubusercontent.com/280212/86964574-917dff00-c166-11ea-85bd-d2b277a9db39.jpg)
![20200706_13.6M_magnetico-merge.sqlite3.zstd.torrent.jpg](https://user-images.githubusercontent.com/280212/86964578-92169580-c166-11ea-8533-94c329fbccbc.jpg)

(those are torrent files, I just rename

[2020-07-09 06:29] Glandos commented on #250
I used to have a nice ratio, around 0.1 new torrent per second. Now, it's much more like 0.002 torrent per second. I suspect that some clients are banning this kind of behavior. Or some network middlebox. Or, to be optimistic, our databases are near the maximum size :)

Here is my database evolution. Giant steps are merges, so they're not relevant, but you can see that slopes are flattening:
![zop

[2020-07-09 10:56] kescherCode commented on #250
@Glandos With an SQLite database larger than 40 GiB, yes, we might be at a point where the database itself has trouble growing further.

[2020-07-09 11:24] kescherCode opened #251 "Statistics are abysmally slow with large databases"
At least when using an SQLite database, statistics tend to be really slow when said database reaches a large size.

This is for 12 hours:
![image](https://user-images.githubusercontent.com/23276523/87033243-2542e000-c1e6-11ea-8ba7-8d95823a6893.png)

Generating it for 12 months is probably going to take even longer...

7 Minutes for 12 hours of statistics, including the high I/O usage that comes wi

[2020-07-09 11:25] kescherCode commented on #251
Alternatively, I might look into building a seperate statistics builder application.

[2020-07-09 11:28] Glandos commented on #250
Not for now: magneticod is eating 16% of one core. And it's a small one. The database is on an SSD, so there's also no issue with I/O.

[2020-07-09 11:36] kescherCode commented on #250
Yes, I do also see this trend, but with magneticod sitting at 100% of one CPU core (due to being limited to one core), and barely any writes. Furthermore, my database lies on an HDD.
![the_great_torrent_flattening.png](https://user-images.githubusercontent.com/23276523/87034899-d6e31080-c1e8-11ea-9b1c-2ebbd4005644.png)

[2020-07-09 17:37] sunnymme commented on #218
how to install this project on vps?

[2020-07-11 13:20] 19h commented on #218
@sunnymme this isn't the right place for this question. Check the readme, check other issues or create one ..

[2020-07-11 14:49] sunnymme opened #252 "how to setup magnetico on a centos 7"
hi,
I only know some basic knowledge about linux, like wget, vi, :wq commands, etc.  So I don't know how to setup magnetico on a vps. Can anyone make a tutorials for some basic learners like me to setup magnetico?
Great thanks!

[2020-07-11 14:50] sunnymme commented on #218
thanks a lot. I have created a issue for this question.&nbsp;magnetico&nbsp;is really good. I want to setup it. But I don't know how to do it.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Kenan Sulayman"<notifications@github.com&gt;;
发送时间: 2020年7月11日(星期六) 晚上9:20
收件人: "boramalper/magnetico"<magnetico@noreply.github.com&gt;;
抄送: "1059777607"<1059777607@qq.com&gt;; "Mention"<ment

[2020-07-11 16:35] lruggieri commented on #252
You can try to follow the README under the "Docker" section.
TLDR:

- Install docker on Centos ([follow here](https://docs.docker.com/engine/install/centos/))

- run `make docker` on magnetico's folder

[2020-07-14 08:56] JsonHive commented on #249
I got same questions,any one can help?

[2020-07-14 10:56] JsonHive commented on #249
well, did work ...

[2020-07-17 13:51] DyonR commented on #250
I know this question might be slightly off-topic, but is there a guide on how to merge two magnetico databases together easily? I tried some tutorials I found after a quick Google search but they didn't really work for me.

On-topic: My Magnetico discovers about 4k-6k torrents/day.
In the past I used to get more than 20k per day, but for some reason it seems to matter what IP I have...
My Magnetic

[2020-07-17 14:20] kescherCode commented on #250
@DyonR to answer your question about merging: @Glandos created a tool for that, available at https://framagit.org/Glandos/magnetico_merge

For me, the reduction in speed happened with the same IP as I had when I started. I do believe that DHT peers are starting to ignore traffic they deem malicious.

[2020-07-18 19:31] DyonR commented on #218
Here is the dump of my database. 2.64M torrents. My database is not merged with any other database.
Compressed zst file is 2.5GB. The sqlite3 file is 8.3GB.
You can find my database at https://dyonr.nl/magnetico/
Preferable, **use the .torrent to download it**, instead of downloading the zst file.
The torrent is loaded on my seedbox (1Gbit/s), the .zst on my server which is limited to 200Mbit/s.

[2020-07-18 21:32] sunnymme commented on #218
Thanks a lot. I will try it. Your are so kindness.
Sincercely yours,
Sunny

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "DyonR"<notifications@github.com&gt;;
发送时间: 2020年7月19日(星期天) 凌晨3:31
收件人: "boramalper/magnetico"<magnetico@noreply.github.com&gt;;
抄送: "1059777607"<1059777607@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [boramalper/magnetico] Community Database Dump

[2020-07-18 23:51] kescherCode commented on #218
@DyonR I'm seeding your database now, not merging it in yet until the next time I'll dump

[2020-07-23 15:05] DyonR commented on #250
I changed my magneticod settings from the default `leech-max-n=50` and `indexer-max-neighbors=1000` to:
`leech-max-n=190`
`indexer-max-neighbors=7500`
Previously I got 5k torrents on average per day, but now I get **35k-40k** because of this change!
The higher the indexer-max-neighbors is set, the more torrents you will find it seems.
The increase of max-neighbors is increased by 7.5, which also d

[2020-07-23 15:32] kescherCode commented on #250
@DyonR mine are at
[code]
so yes, initially that helps, but it dies down later nonetheless.

[2020-07-28 00:45] rezad1393 opened #253 ""nf_conntrack: nf_conntrack: table full, dropping packet" issue but on router"
"nf_conntrack: nf_conntrack: table full, dropping packet" issue happens on my router which my computer is connected to via LAN.

what iptable commands should I use on the router to fix this.

also how can I specify the udp port that this app uses in config so that I know what port to use in iptables.

[2020-07-31 07:04] z3r0byt3s commented on #251
[RELEASES: 31,721,867]-[FILES: 522,209,821]

Re-generated every 1 hour on nvme disk - took only 10-15 minutes

[2020-09-10 10:39] militaooo opened #254 "Cannot run go version in Windows"
I use Goland IDE. Here are the errors. There're always pkgs that cannot be found in transport.go ... I tried everything I can, but the errors still there.
[code]
I tried both the latest version and `0.11` version

[2020-10-01 22:03] seanbert-monkey opened #262 "Making Magneticod exit if IP address goes away"
In the file magnetico/cmd/magneticod/dht/mainline/transport.go if we add the following -

*** transport.go        2020-10-01 21:48:55.671143085 +0000
--- transport.go_orij   2020-10-01 21:43:48.048129174 +0000
***************
*** 155,164 ****
                        t.onCongestion()
                }
        } else if err != nil {
-               /* Do panic handling here in event IP addresses has

[2020-10-23 10:05] kknstv commented on #248
Hi! I tried to enter the standard login password, generated my own, but I can not enter. Where else can I look to solve the login problem?

[2020-10-23 10:57] kescherCode commented on #248
There is no standard login password. You have to generate one, as outlined at https://github.com/boramalper/magnetico/blob/master/cmd/magneticow/README.md#setting-password-protection.

[2020-10-23 12:36] kknstv commented on #248
I create as stated on the page, for example `htpasswd -bnBC 12 "admin" "admin"`, -> `admin:$2y$12$IIk0U49hbC2fuIfH/2B72.5nr/GW6h4vOckVYlZ1l9mJ7ACqDRbSi` past string in file "credentials",
rebuilding the container, try to auth, but I can't log in.
what am I doing wrong?

[2020-11-08 14:25] ngosang opened #263 "Magnetico support included in Jackett v0.16.2106"
Magnetico support included in Jackett v0.16.2106
Users can integrate Magnetico with Sonarr, Radarr, Readarr, Lidarr...
https://github.com/Jackett/Jackett/pull/10136

[2020-11-10 16:54] hugalafutro commented on #253
I am facing this issue as well and observing 95% connection full on the router (15k+/16384) while magnetico is running. Stopping the containers drops the count to the usual 1-2k.

[2020-11-12 20:15] Glandos commented on #218
Here is my fresher dump: https://antipoul.fr/dhtd/20201112_14.1_magnetico-merge.torrent

Unfortunately, it seems to be a bit stalling. Sometimes, I have 0.1 torrent per second, but it is usually 10 times less…

[2020-11-15 12:01] ngosang commented on #218
Since some of you have millions of torrents maybe you are interested in add support for other databases that scale better than SQLite. Some users are having request timeouts in magneticow due to poor performance in SQLite. I don't have time to work on this issue, but maybe some of you do. https://github.com/Jackett/Jackett/issues/10174#issuecomment-727558361

[2020-11-15 12:44] skobkin commented on #218
@ngosang It's not abandoned, it's working for me more than a year for now 😄

I've just forgot about it because Bora didn't answer to my question. I think I can make the last change he asked soon, but I'm not sure he'll merge it because he's not supporting magnetico for a long time.

[2020-11-15 12:47] Glandos commented on #218
[**@ngosang**](https://github.com/ngosang) commented on [15 nov. 2020 à 13:01 UTC+1](https://github.com/boramalper/magnetico/issues/218#issuecomment-727558913 "2020-11-15T12:01:34Z - Replied by Github Reply Comments"):

Since magneticod is not using 100% of a CPU, I don't think this is the current bottleneck.

[2020-11-15 12:53] skobkin commented on #218
@Glandos SQLite is really a bottleneck sometimes. It'll not use 100% of CPU because it's most likely using 100% of the disk.
Probably you can tweak SQLite when initializing the client to use very big caches and so on, but I'm not sure that it'll outperform MySQL or PostgreSQL though.

I don't have time to check it, so I can be wrong. If someone can check the disk usage (IOPS, throughput, latency)

[2020-11-15 13:11] ngosang commented on #218
From my experience as software architect if you have a 10GB database, the SQLite read performance is between 100 and 1000 times slower than other relational databases like MySQL, Postgres, Oracle.
If the entire database does not fit in memory then all databases have to read from disk at some point. The difference is that SQLite does not have several levels of cache in memory with the table indexes

[2020-11-23 18:53] skobkin commented on #218
BTW, I've just updated the PR with PostgreSQL eliminating the last "problem" which was pointed a year ago.

[2020-11-27 16:42] boramalper commented on #263
This is amazing @ngosang, thanks a lot for your hard work! =)

[2020-11-27 16:43] boramalper commented on #263
Should we update our documentation for this or would it be under Jackett's docs? @ngosang

[2020-11-27 17:37] skobkin commented on #218
It was merged!
![](https://i.skobk.in/i/dr_brown_omfg.png)

[2020-11-27 18:02] skobkin commented on #253
You forgot to [tell you firewall to skip processing all magneticod packets](https://github.com/boramalper/magnetico/blob/master/cmd/magneticod/README.md#setup), so it's packet tracking table became overfilled.

[2020-11-27 19:30] kescherCode commented on #218
@skobkin Now, how do I migrate my data from SQLite to Postgres? lol

[2020-11-28 17:27] ngosang commented on #263
We don't have specific documentation for Magnetico because we support more than 500 indexers. It's only listed in the readme.
Maybe you can add some lines about Jackett in the readme but it's optional, you can close this issue.

[2020-11-28 17:31] ngosang opened #264 "Improve Postgres documentation"
Postgres documentation is hard to find => https://github.com/boramalper/magnetico/tree/master/pkg

* Could you add some info or links in the readme?
* Is it possible to create a `docker-compose-postgres.yml` file with Magnetico + Postgres (with required config)?
* Write some recommendations about use cases when Postgres will improve performance

Ping @boramalper @skobkin

[2020-11-28 18:18] skobkin commented on #264
I'll try to make those changes if I'd not forget.

You don't need separate `docker-compose.yml` files to be able to switch database back-end. I'll check if we need co change anything to be able to choose back-end using environment variables for example.

Yes, I've implemented simple tool which uses Magnetico's own database back-ends to add torrents from SQLite to the PostgreSQL or other supported

[2020-11-28 18:29] ngosang commented on #264
I mean a specific docker-compose with magneticow + magneticod + postgres all of them preconfigured. The idea is running postgres in Docker too. You can find an example docker-compose for postgres in https://hub.docker.com/_/postgres

Something is better than nothing. At least one user is interested => https://github.com/boramalper/magnetico/issues/218#issuecomment-734961622

[2020-11-28 18:57] skobkin commented on #264
It's possible... But not sure if needed. It still could be implemented in the same `docker-compose.yml`. Maybe if I (or Bora) have a time.

Sorry, I forgot to paste the link. Previous comment is fixed now.

[2020-11-28 22:52] skobkin commented on #218
@kescherCode See [this comment](https://github.com/boramalper/magnetico/issues/264#issuecomment-735272135).

Be aware that `magneticow` does not work with PostgreSQL as of now.

[2020-12-20 00:43] skobkin commented on #245
It depends only on how long are you running the indexer and how many data it got.

[code]

[2020-12-20 01:04] skobkin commented on #186
I'd even say that it'd be good to have ability to define a list of restricted addresses/subnets.

For example, Hetzner sent me a warning once because magneticod was trying to make requests to machines in the internal network. We can't rely on data from DHT, so being able to filter would be good.

[2020-12-27 10:22] centralhardware opened #265 "when to wait for search and statistics support for PostgreSQL"

[2020-12-27 13:01] centralhardware opened #266 "ability to skip torrent whose name contain chines and japanese symbols"
I think very few people need to search for Chinese or Japanese torrents,

[2020-12-27 14:20] kescherCode commented on #266
I beg to differ.

[2020-12-27 14:54] centralhardware opened #267 "ability to sort search result"
or when searching so that you can specify the minimum torrent size in the search results

[2020-12-27 16:31] kescherCode commented on #267
Sorting is already implemented in the magneticow API, so this is merely a change for the frontend. A filter for a minimum size, however, is not yet implemented.

[2020-12-28 18:07] TonyRL commented on #265
Check https://github.com/boramalper/magnetico/pull/214#issuecomment-735289665

[2020-12-29 22:23] Glandos commented on #266
Maybe a generic filter, because it does not make sense to skip a whole class of characters just because you don't know their meaning (and I don't either ;) ).

[2020-12-30 02:30] centralhardware commented on #266
Good idea, we skip type of content that do not interested.
Maybe regexp? But i dont know how wil it effect on performance

[2021-01-02 20:38] rakoo opened #268 "Archlinux package available"
Hey there ! First, thanks a lot for magnetico it's working really nice out of the box, truly amazing!

I've taken the liberty to create the Archlinux package on AUR: https://aur.archlinux.org/packages/magnetico-bin. There's no real action needed right, now, I just wanted to reach out; feel free to ask/request anything if needed !

[2021-01-02 20:38] rakoo commented on #268
And closing because nothing needs to be done, but discussion can continue

[2021-01-02 20:38] #268 closed

[2021-01-03 00:12] kescherCode commented on #268
You might want to "magnetico" and "magnetico-git" as well.

[2021-01-03 13:21] rakoo commented on #268
I mostly intend to use magnetico for personal use, so I probably won't be able to maintain all 3 packages like that. I'll let anyone else who's interested step up to the task :)

[2021-01-04 17:55] seanbert-monkey commented on #168
this hacky bit of perl does the thing you mention...

NB assumes all shows are '.' separated words and episode references e.g. Star.Wars

the script will fire off a download of everything in the XML from magneticow so strange things can happen f your how "name" is too generic!!

#!/usr/bin/perl

[2021-01-21 10:32] #254 closed

[2021-02-08 07:04] WeirdCarrotMonster opened #271 "Process exited after beanstalkd backend error"
Got this error after running magneticod with beanstalkd backend:
[code]
beanstalkd is running with `-z 1048560`. I get that increasing maximum job size should help, but magneticod shouldn't exit after this kind of failure.

[2021-02-14 16:00] notmayo commented on #248
I am also having this issue, using docker and the htpasswd command exactly as above.

[2021-02-19 15:59] sigiltenebrae commented on #264
I've been tearing my hair out a bit trying to get postgres to work, maybe this is a total noob question but I can't figure out where to implement
"magneticod --database=postgres://username:password@127.0.0.1:5432/database?schema=custom_schema_name&sslmode=disable"
I assume these are not enviroment variables for the docker container, but where do I pass it in?

[2021-02-19 16:18] skobkin commented on #264
@sigiltenebrae

These are command line arguments.

Correct. But with proper `docker-compose.yml` you can also use environment variables. Check [this](https://bitbucket.org/skobkin/docker-stacks/src/master/magneticod/docker-compose.yml) for example.

[2021-02-19 22:30] sigiltenebrae commented on #264
awesome, working perfectly.

[2021-02-19 22:38] sigiltenebrae commented on #264
on a related note, I've set up and installed your Postgres magnetic-web, but I can't appear to connect over LAN. It definitely has a db connection and created the user table. Are there special settings required to enable this? Sorry if this is the wrong place to ask.

[2021-02-20 01:23] skobkin commented on #264
@sigiltenebrae

Glad to hear!

You need to think if you really need it. Magnetico has built-in web interface which should work just fine (only with SQLite database for now). If you're not trying to run search instance on some public server and just running it inside your local network then most likely you don't need neither PostgreSQL nor magnetico-web.

Firstly you should understand that it's not

[2021-02-27 23:45] kodxana commented on #18
Any updates on seed/peer counter :)

[2021-02-27 23:59] dessalines commented on #18
I built a library that does this a few years ago that I'm using in torrents-csv:  https://github.com/dessalines/torrent-tracker-health

[2021-03-07 03:26] bamboo-pan commented on #238
meet same issue

[2021-05-01 11:45] rakoo opened #272 "CLI search tool"
Hey everyone! First of all thank you for this magnificent tool, I like not depending on third-party websites that come and go anymore and having more decentralization.

I'm running magnetico from a VPS, and my torrent client is on my personal computer. I want to use its database to find torrents but magneticow has 2 problems:
* it is a web version. I don't want to run a full webserver, configure i

[2021-05-01 14:49] Glandos commented on #272
It seems really promising. Could you add the database path as a parameter? It is currently [hardcoded to your home directory](https://git.sr.ht/~rakoo/magneticos/tree/master/item/main.go#L40) :smile:

[2021-05-01 16:06] rakoo commented on #272
Oops! Indeed this is problematic. I'll probably default to the user path and make it configurable, just like https://github.com/boramalper/magnetico/blob/master/cmd/magneticod/main.go#L156

[2021-05-01 18:16] rakoo commented on #272
Updated 😃

[2021-05-01 18:31] NHOrus commented on #244
Same error on v0.12.0

[code]

[2021-05-02 06:26] NHOrus commented on #272
Updated badly, it adds "?mode=ro" to db path, then tries to find file with such suffix, always fails.

[2021-05-02 08:49] rakoo commented on #272
Fixed in https://git.sr.ht/~rakoo/magneticos/commit/1c427b53e2c3186250034dea09e3b422a55f3379 :)

[2021-05-08 15:14] kehboard opened #273 "Failed when using different schema on postgresql"
When I set schema in connection URI program crashed.
` ~/go/bin/magneticod --database=postgres://user:pass@127.0.0.1/magneticod\?sslmode\=disable\&schema\=magneticod -v
2021-05-08T17:56:07.029+0300    INFO    magneticod v0.12.0 has been started.
2021-05-08T17:56:07.030+0300    INFO    Copyright (C) 2017-2020  Mert Bora ALPER <bora@boramalper.org>.
2021-05-08T17:56:07.030+0300    INFO    Dedicated

[2021-05-10 01:47] issuefiler opened #274 "Double-sink due to race condition"
[code]

https://github.com/boramalper/magnetico/blob/9c2183b91b5b37560607d1ebf98cfd1b542cfc27/cmd/magneticod/main.go#L110-L118

What’s the point of having the `DoesTorrentExist` call there if it allows multiple torrents to be `Sink`ed before the `AddNewTorrent` call? This way, I need to call `DoesTorrentExist` **again** in `AddNewTorrent`, otherwise it’ll eventually crash on identical torrents tha

[2021-05-10 08:36] issuefiler commented on #274
And most of incoming info-hashes don’t actually make it to `ms.flush` (`NewLeech`’s `OnSuccess`). Why bother checking duplicate info-hashes that can’t even make it to `AddNewTorrent`, with a bunch of expensive database calls (The query itself is cheap, but the client overhead is not negligible.)?

[code]

[2021-05-11 00:51] issuefiler commented on #266
And for your concern on the performance loss due to regex filtering, it’s nothing.

[2021-06-21 20:21] rezad1393 commented on #191
can this be opened?
I dont seem to be able make the package on my arm system

[2021-06-22 14:40] skobkin commented on #191
As a workaround you can try to use Dockerfile to build it inside Docker.

[2021-06-22 18:11] rezad1393 commented on #191
how would I do that?
I am barely familiar with Docker and can just run copy and paste for that.
and I checked dokcer repo for it and it was only x64.

[2021-06-22 22:45] skobkin commented on #191
You'd need to check Docker manual or search for something like "how to build Docker image".

That's why I suggested to use Dockerfile and not an image from the Docker Hub. It's not bound to the architecture and if you have an ARM machine, you can build your own image for ARM. Or you can use cross-compile on X86, but it's much more complicated that previous option.

[2021-06-22 22:50] rezad1393 commented on #191
As I said I didnt see any docker make file for arm for this and outside of go make (make) there is no readme to how to compile it.

[2021-06-24 16:15] skobkin commented on #273
Strange.

https://github.com/boramalper/magnetico/blob/9c2183b91b5b37560607d1ebf98cfd1b542cfc27/pkg/persistence/postgres.go#L29

Needs to be checked.

[2021-06-30 10:55] rezad1393 opened #275 "magneticow wont run in ipv6 is disabled"
I have disabled ipv6 via kernel parameter.
now when I run "magneticow --addr=127.0.0.1:8080"
I get this error:
FATAL   Could not initialise readme handler     {"error": "subsequent listen: listen tcp6 :40717: socket: address family not supported by protocol", "errorVerbose": "listen tcp6 :40717: socket: address family not supported by protocol\nsubsequent listen\ngithub.com/anacrolix/torrent.liste

[2021-07-15 12:41] Froghut commented on #248
anyone got a solution to this? Just hit the same problem.

[2021-07-20 14:08] black-puppydog commented on #251
So from what I can see, the query for the statistics (for sqlite3) is built in `sqlite3.go`:

https://github.com/boramalper/magnetico/blob/9c2183b91b5b37560607d1ebf98cfd1b542cfc27/pkg/persistence/sqlite3.go#L447-L459

Note the `TODO` item. 😆

I built myself a query as it would be run for today, using one of the arbitrary date formats:

[code]

And indeed it is quite slow on a 34GB database.
So I p

[2021-07-30 04:50] barolo commented on #275
same issue

[2021-08-02 21:31] cloudwindy commented on #238
same issue.

[2021-08-15 16:54] HxBreak commented on #250
Is this normally?
How can i fix it if something wrong?
![image](https://user-images.githubusercontent.com/15846180/129486183-cfcf7a18-ed9b-4101-b4de-a8cbe053a7c1.png)

[2021-09-11 10:21] scriptzteam opened #276 "Any update?"
Any update? Project dead?

Yes we are here again :D

https://github.com/boramalper/magnetico/issues/150

[2021-10-18 07:30] UntaggedLady opened #277 "Add a way to sort by number of seeds"
Please add a way to sort by the number of seeds a torrent has. It's generally a great metric for finding high-quality torrents, but this tool doesn't appear to support that currently. Is there a limitation that prevents sorting by the number of seeds?

[2021-10-23 15:50] scriptzteam opened #278 "database.sqlite3-wal got sooo big"
Hi, how can i get it back to 0?
Tried to VACUUM database.sqlite3 wont help...

[code]

THX

[2021-12-13 15:26] centralhardware opened #279 "panic: runtime error"
[code]

run argument
[code]

[2021-12-13 15:29] centralhardware opened #280 "sqlite3 low performance"
switch to postgres database increases performance by about 4 times on my server

[2021-12-13 15:45] centralhardware commented on #277
https://github.com/boramalper/magnetico/blob/9c2183b91b5b37560607d1ebf98cfd1b542cfc27/cmd/magneticow/api.go#L337

rest api already support, but web ui don't implement it

[2021-12-14 17:38] snaakey commented on #91
+1

[2021-12-15 12:42] centralhardware commented on #91
is this python version? what about actual go version?

[2021-12-15 13:00] kescherCode commented on #91
The Go version also doesn't support it currently, iirc.

[2021-12-25 21:12] cloudwindy commented on #280
Sadly it looks like the developer isn't active anymore.

[2021-12-26 10:50] centralhardware commented on #280
i hope that community is stile alive.